<div class="annotation">
  <p><strong>Enter Measurement</strong></p>
  <form action="/api/measures/1" method="POST">
    <div class="form-group">
      <label for="txtMeasure">Measurement</label>
      <input type="text" class="form-text text-muted" id="txtMeasure" placeholder="Enter Measurement" aria-describedby="measureHelp">
      <div><small id="measureHelp" class="form-text text-muted">Will be stored in the database</small></div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div id="webgl"></div>